/*--================== RESET ==================--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #DBC8FF;
}
/*--================== HOME CSS ==================--*/
#header {
    padding: 10px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}
.img__logo{
    width: 100px;
}
#nav{
    display: flex;
    align-items: center;
}

#ul{
    display: flex;
    list-style-type: none;
    gap: 30px;
    grid-gap:30px;
}

#items a {
    color: white;
    text-decoration: none;
}
.main__home{
    display: flex;
    flex-direction: row;
}
.main__div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main__div h2 span{
    display: block;
}
.main__div-img{
    width: 90%;
}

#footer {
    padding: 10px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer_img {
    width: 50px;
    padding: 10px;
}
/*--================== ABOUT CSS ==================--*/
.main__about{
    text-align: center;
}
.main__about p{
    margin: 10px;
    padding: 10px;
}
.img__project{
    width: 90%;
}
/*--================== CONTACT CSS ==================--*/
#fieldset {
    padding: 10px;
}
.form__registrer {
    background-color: white;
    width: 400px;
    padding: 30px;
    margin: auto;
}
.button {
    background-color: #6132b7;
    padding: 10px;
    margin-top: 15px;
}

/*--================== PROJECTS CSS ==================--*/
.projects__section {
    display: flex;
    flex-direction: column;
    padding: 60px;
    gap:20px

}
.project{
    flex-wrap: wrap;
}
.img__proyecto{
    width:100%;
}

.button__proyecto {
    border: none;
    background-color: #503459;
    padding: 10px;
    border-radius: 10px;
}

/*--================== EDUCATION CSS ==================--*/
.main__education h1{
    text-align: center;
    padding: 5px;
}
.education__info{
    margin: 10px;
    padding: 10px;
}
