* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: pink; }

h1 {
  font-size: 2.5rem;
  text-align: center; }

h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center; }

.main__proyect {
  display: flex; }
  @media screen and (max-width: 480px) {
    .main__proyect {
      flex-direction: column; } }

header {
  background-color: #fff4e6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 0.4rem; }
  header .main__nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    grid-gap: 30px; }
    header .main__nav ul #item__nav a:hover {
      list-style: none;
      text-decoration: none;
      color: white;
      transform: scale(1.1);
      transition: transform 0.3s ease-in-out; }

.main__home {
  height: 70vh;
  margin: 1rem 3rem 3rem 3rem;
  display: flex;
  align-items: center; }
  .main__home .inicio h1 {
    font-style: "TiltWarp"; }

.main__about {
  text-align: center;
  display: grid; }
  .main__about h1 {
    padding: 10px;
    text-align: center; }
  .main__about div p {
    margin: 10px;
    padding: 10px;
    grid-template-columns: auto; }

@media screen and (max-width: 480px) {
  .main__education {
    flex-direction: column; } }

.contact__form {
  background-color: #30f2c6;
  padding: 20px;
  border-radius: 10px; }
  .contact__form label {
    color: black;
    margin-bottom: 10px; }
  .contact__form .contact__title {
    font-size: 24px;
    color: black;
    margin-bottom: 12px;
    font-weight: bold;
    display: block; }
  .contact__form form {
    display: flex;
    flex-direction: column; }

footer {
  background-color: #e6f066;
  display: flex; }
  footer div {
    display: flex;
    justify-content: space-around;
    align-items: center; }
