@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Tilt+Warp&display=swap");
@import url(https://fonts.google.com/specimen/Roboto+Mono#:~:text=%27https%3A//fonts.googleapis.com/css2%3Ffamily%3DRoboto%2BMono%3Aital%2Cwght%401%2C300%26family%3DRoboto%3Awght%40300%26family%3DTilt%2BWarp%26display%3Dswap%27);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: white; }

h1 {
  font-size: 2.5rem;
  text-align: center; }

h2 {
  font-size: 2rem;
  font-weight: 400;
  text-align: center; }

header {
  background-color: #667292;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 1rem;
  padding: 0.4rem; }
  header nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
    grid-gap: 30px; }
    header nav ul #nav__item a:hover {
      list-style: none;
      text-decoration: none;
      color: white; }

.main__home {
  height: 70vh;
  margin: 1rem 3rem 3rem 3rem;
  display: flex;
  align-items: center; }
  .main__home .inicio h1 {
    font-style: "TiltWarp"; }

.main__about {
  text-align: center;
  display: grid; }
  .main__about h1 {
    padding: 10px;
    text-align: center; }
  .main__about div p {
    margin: 10px;
    padding: 10px;
    grid-template-columns: auto; }

footer {
  background-color: #667292;
  display: flex; }
  footer div {
    display: flex;
    justify-content: space-around;
    align-items: center; }
