#header {
    display: flex;
    justify-content: space-around;
    color:$backheader;
    align-items: center;

    .logo {
        max-width: 6rem;
    }
}

#nav__menu {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
    #nav__list {
    list-style: none;
    display: flex;
    gap: 30px;
    grid-gap: 30px;
    }
    
    #nav__item
    {
        a
        {
            list-style: none;
            text-decoration: none;

            &:hover {
            color: white;
            }

        }
    }
    }