$fontTitle:'TiltWarp';
$colorTitle: #6c5c98;
$fontLorem:'RobotoMono';

$colorHeader:rgb(255, 244, 230);
$colorFooter:rgb(230, 240, 102);
$colorBackGround:rgb(255, 192, 203);
$colorForm:rgb(48, 242, 198);

