/*--================== RESET ==================--
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color:#b4a7d6
}
*/
/*--================== INICIO CSS ==================--*/
#header {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    align-items: center;
}

.logo {
    max-width: 6rem;
}

#nav__menu {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#nav__list {
    list-style: none;
    display: flex;
    gap: 30px;
    grid-gap: 30px;
}
#nav__item a{
    list-style: none;
    text-decoration: none;
}
#nav__item a:hover {
    color: white;
}

.inicio {
    display: flex;
}

.inicio__titulo {
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    justify-content: center;
    display: block;
}

#footer {
    background-color: gray;
    align-items: center;
}

.social {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.social i {
    font-size: 3rem;
}

/*--================== ABOUT CSS ==================--*/
.main__about {
    text-align: center;
    display: grid;
}

.main__about h1 {
    padding: 10px;
}

.main__about p {
    margin: 10px;
    padding: 10px;
    grid-template-columns: auto;
}

.img__project {
    width: 90%;
}

/*--================== CONTACT CSS ==================--*/
#fieldset {
    padding: 10px;
}

.form__registrer {
    display: grid;
    margin: 3rem;
    gap: 1rem;
}

.button {
    background-color: #6132b7;
    padding: 10px;
    margin-top: 15px;
}

/*--================== PROJECTS CSS ==================--
.projects__section {
    display: grid;
    margin: 3rem;
    gap: 1rem;
}

.img__project{
    width: 100%;
    height: 100%;
    object-fit: cover;

}*/

/*--================== EDUCATION CSS ==================--*/
.main__education h1 {
    text-align: center;
    padding: 5px;
}

.education__grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    background-color: white;

}

.education__info {
    border: solid gray;
    padding: 10px;
}